.loginform{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    border: 3px solid #068a9c;
    border-style: groove;
    border-radius: 20px;
    padding:20px;
    margin-top:10rem;
  
}
.loginformbtm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
}
.center{
    display: flex;
    justify-content: center;
}